<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/signup.css">
    <title>Digital Academy</title>
  </head>
  <body >
    <!-- main section -->
    <main>
      <section>
        <div class="bg-modal">
          <div class="choice-content">
            <div class="back" onclick="goback()">&lt</div>
            <img id="choice-logo" src="/static/images/digital_academy_logo_small.png">
            <form method="POST" action="/choseProfession"> {% csrf_token %}
              <button class="choice-button" name="profession" value="teacher" type="submit">Teacher</button>          
              <button class="choice-button" name="profession" value="student" type="submit">Student</button>          
            </form>
          </div>
        </div>
      </section>
      
    <script src="/static/authenticate.js"></script>
  </body>
</html>
